.board {
    -fx-background-image: url('sprites/board/full_board_frame_64.png');
    -fx-background-size: 843 843;
    -fx-background-position: center;
}

.background {
    -fx-background-image: url('sprites/UI/background_game.png');
}