.border {
    -fx-background-image: url('sprites/board/quarter_board_frame_64.png');
}

.menu {
    -fx-background-image: url('sprites/gifs/ship_menu_NEW_64.gif');
}

.background {
    -fx-background-image: url('sprites/UI/background_setup.png');
}

.button {
    -fx-background-image: url('sprites/UI/button_smaller.png');
    -fx-background-size: 180;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: none;
}

.button:hover {
    -fx-background-image: url('sprites/UI/button_smaller_hover.png');
    -fx-background-size: 180;
}